vti_encoding:SR|utf8-nl
vti_author:SR|TanushaPK\\Tanusha
vti_modifiedby:SR|TanushaPK\\Tanusha
vti_timelastmodified:TR|28 Apr 2017 11:58:41 -0000
vti_timecreated:TR|27 Apr 2017 15:18:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|master.dwt exhibits/default.html links/default.html photo_gallery/default.html about_museum/default.html contact/default.html default.html
vti_nexttolasttimemodified:TW|28 Apr 2017 11:58:28 -0000
vti_cacheddtm:TX|28 Apr 2017 11:58:41 -0000
vti_filesize:IR|2663
vti_cachedlinkinfo:VX|Q|layout.css S|../images/momathlogo.gif S|../images/Museum-of-Mathematics.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/momathlogo.gif FSUS|images/Museum-of-Mathematics.gif
