.menu {			/*ul первого уровня имеет класс menu*/
	position: fixed;
	display:flex;
	justify-content: space-between;	/*дети будут расположены равномерно в строке (боковые прижаты к краям, остальные между ними с одинак. отступом*/
	list-style-position: inside; /*чтобы не было отступа для точки впереди (оно есть, даже если margin:0, padding:0)*/
	list-style: none; /*чтобы не было точек перед списком*/
	z-index: 100;	/*чтобы выпадающие части меню не прятались под элементы контента, нужно задать большой z-index на том же родительском уровне, где контент*/
	top: calc(calc(10*var(--ue)) + 3px); /*отступ на высоту заголовка и для теней*/
	width: calc(50*var(--ue));
	margin: 0 auto;

}


.menu>li {
	font-size: calc(1.5*var(--ue));
	line-height: 2;
	width: calc(12.3*var(--ue));
	height: calc(3*var(--ue));
	border-radius: 10px;
	overflow: hidden; /*нужно писать для элементов неизвестных заранее размеров*/
}


.menu>li>ul {		/*группа строк выпадающего списка*/
	position: absolute;
	display: block;
	margin-top: 1px;
	visibility: hidden;		/*делаем невидимым, поскольку если убрать только прозрачность, то при наведении на невидимый выпадающий спискок на контенте, он становится видимым*/
	opacity: 0;				/*изначально делаем прозрачность 0, потом анимируем */
	transition: all .2s ease-in-out .1s ;
}


.menu>li>ul>li {			/*строки выпадающего списка*/
	display: table;				/*чтобы выровнять содержимое вертикально по центру, делаем пункт списка таблицей, а в него вкладываем див с display: table-cell*/
	text-align: center;
	font-size: calc(var(--ue));
	border-left: thin silver solid;
	border-right: thin silver solid;
	width: calc(calc(11.5*var(--ue)) - 4px);
	height: calc(3*var(--ue));
	line-height: 1;
	margin-left: calc(.4vw + 1px);
}


.menu>li>ul>li div {				/*без этого дива не получится выровнять содержимое ячейки li выпадающего списка по центру вертикально*/
	display: table-cell;
	vertical-align: middle;
}


.menu>li>a {						/*не вставляем текст в ссылку, а ссылкой покрываем всю ячейку сверху над текстом, иначе не получается сделать полностью ячейку ссылкой*/
	position: absolute;
	display: block;
	margin-left: 0;
	/*border: thin solid lime;*/
	width: calc(12.3*var(--ue));
	height: calc(3*var(--ue));
	margin-top: calc(calc(-3*var(--ue)) - 1px);
}



.menu>li>ul>li>a {						/*не вставляем текст в ссылку, а ссылкой покрываем всю ячейку сверху над текстом, иначе не получается сделать полностью ячейку ссылкой*/
	position: absolute;
	display: block;
	margin-top:0;
	margin-left:-100%;
	width:100%;
	height: calc(3*var(--ue));
}


.menu>li>ul>li:last-child {			/*у последнего элемента в выпадающем списке делаем нижнюю закругленную границу*/
	border-bottom: thin silver solid;
	border-radius: 0 0 10px 10px;
}


/*фон выпадающего списка и чуть более темный цвет при наведении для каждой группы свой*/																		

.menu>li:nth-child(1)>ul>li { background: var(--light_yellow);} 
.menu>li:nth-child(2)>ul>li { background: var(--light_green);}
.menu>li:nth-child(3)>ul>li { background: var(--light_blue);}
.menu>li:nth-child(4)>ul>li { background: var(--light_orange);}

.menu>li:nth-child(1)>ul>li:hover { background: var(--yellow);}
.menu>li:nth-child(2)>ul>li:hover { background: var(--green);}
.menu>li:nth-child(3)>ul>li:hover { background: var(--blue);}
.menu>li:nth-child(4)>ul>li:hover { background: var(--orange);}


.menu>li:hover {
	border-color: silver;
	box-shadow: none;
	font-size:calc(1.45*var(--ue));
	overflow: visible;
	background-image: none;
}


.menu>li:hover>ul {
	visibility: visible;
	opacity: 1;	
}

