@import url('header_name.css');
@import url("menu.css");
@import url("cards.css");


* {						/* чтобы убрать предустановленные отступы у всех элементов и ставить свои*/
	margin: 0;
	padding: 0;
	
	--dark_green: #A5DF00;
	--green: #e2fb95;/*#d9fabf;*/
	--light_green: #f2fbd4;/*#f1fbe8;*/
	
	--dark_yellow: #f9f11c;
	--yellow: #fbf6a8;
	--light_yellow: #fefcea;
		
	--dark_blue: #81BEF7;
	--blue: #d6ebfc;
	--light_blue: #eef7fe;
	
	--dark_orange: #F7D358;
	--orange: #fce4ae;
	--light_orange: #f7f1e0;

	--ue: 16px; 
}


body {
	background: white;
	background-image: url('../background_count3.png');
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	background-attachment: fixed;
}


#header {
	position: fixed;
	top:0;
	width: calc(50*var(--ue));
	margin: 0 auto;
	height: calc(10*var(--ue));
	text-align: center;
	background: white;
	box-shadow: 0px 0px 10px 1px silver;
	border-radius: 3px;
	box-sizing: border-box;
	z-index: 3;
}


#header>a, #main>a {
	position: absolute;
	display: block;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;	
}


#container {
	position: relative;
	width: calc(50*var(--ue));
	margin: 0 auto;
	padding: calc(13.5*var(--ue)) 0 calc(4.5*var(--ue)) 0;
	min-height: calc(100vh - calc(18*var(--ue)));
	background: white;
	box-shadow: 0px 0px 3px 1px silver inset;
}


#content {
	z-index: 1;
}


#footer {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	height: calc(4*var(--ue));
	line-height: calc(4*var(--ue));
	background: white;
	box-shadow: 0px 0px 10px 1px silver;
	border-radius: 3px;
	text-align: center;
	font-size: calc(1.5*var(--ue));
	color: dimgray;
	z-index: 1;
}


.footer_main {   /*почему-то невозможно применить этот класс к футеру на главной странице, прописала стиль в самом теге*/
	height: calc(7*var(--ue));
	line-height: calc(7*var(--ue));
	font-size: calc(1.7*var(--ue));
}

/*************************большие кнопки на главной странице***********************/

#main {
	position: absolute;
	border-radius: 20px;
	width: calc(15*var(--ue));
	height: calc(9*var(--ue));
	font-size: calc(3*var(--ue));
	z-index: 2;
}

#main a {
	text-decoration: none;
	color: inherit;
}

#main:nth-child(1) a, #main:nth-child(2) a {		/*в 1 и 2 кнопке текст на 1 строку, в 3 и 4 на две, ровняем визуально по центру*/
	padding-top: calc(2*var(--ue));
}


#main:hover {
	border-color: silver;
	box-shadow: none;
	font-size:calc(2.9*var(--ue));
	background-image: none;
}


#main:nth-child(1) {top: calc(16*var(--ue)); left: calc(8*var(--ue));}
#main:nth-child(2) {top: calc(16*var(--ue)); right: calc(8*var(--ue));}
#main:nth-child(3) {top: calc(30*var(--ue)); left: calc(8*var(--ue));}
#main:nth-child(4) {top: calc(30*var(--ue)); right: calc(8*var(--ue));}


/*************************кнопки горизонтального меню и большие кнопки на главной***********************/

.button1, .button2, .button3, .button4 {
	border: thin black solid;
	box-sizing: border-box;
	text-align: center;
	transition: all .1s ease-out;
	box-shadow: 0px 0px 10px 1px silver;
}


.button1 {
	background-color: var(--dark_yellow);/*#f6ea33;/*#fcf696;/*#F2F5A9;/*#F5F6CE; /*желтый*/
	background-image: linear-gradient(to top, var(--light_yellow)/*#fefcea*/ 20%, var(--dark_yellow)/*#fcf36b*/);
}


.button2 {
	background: var(--dark_green);/*#9ce566;/*#BCF5A9; /*зеленый*/
	background-image: linear-gradient(to top, var(--light_green)/*#f1fbe8*/ 20%, var(--dark_green)/*#b2f979*/);
}


.button3 {
	background: var(--dark_blue);/*#69b6f8;/*#c7e3fb;/*#A9E2F3;/*#CEECF5; /*синий*/
	background-image: linear-gradient(to top, var(--light_blue)/*#eef7fe*/ 20%, var(--dark_blue)/*#a3d1f9*/);
}


.button4 {
	background: var(--dark_orange);/*#fbc64a;/*#f8e3ac;/*#F5ECCE;/*#F7D358; /*оранжевый*/
	background-image: linear-gradient(to top, var(--light_orange)/*#f7f1e0*/ 20%, var(--dark_orange)/*#fad786*/);
}


/**************цвета заголовков в левом меню****************/

.page1 {color: var(--dark_yellow)/*#f6ea33*/;}
.page2 {color: var(--dark_green)/*#9ce566*/;}
.page3 {color: var(--dark_blue)/*#69b6f8*/;}
.page4 {color: var(--dark_orange)/*#fbc64a*/;}


/*************************left_menu***********************/

.left_menu {
	position: fixed;
	list-style-position: inside; /*чтобы не было отступа для точки впереди (оно есть, даже если margin:0, padding:0)*/
	list-style: none; /*чтобы не было точек перед списком*/
	margin: calc(15.5*var(--ue)) 0 0 calc(-12*var(--ue)); /*отступ свехру получается с учетом того, что у item добавляется блок :before, из-за этого левое меню тоже уезжает вверх*/
	width: calc(11.5*var(--ue));
	box-shadow: 0px 0px 10px 1px silver;
	border-radius: 20px;
	background: white;
	z-index: 5;
}


.left_menu li {
	display: table;
	text-align: center;
	font-size: calc(var(--ue));
	border: thin silver solid;
	width: 100%;
	height: calc(3*var(--ue));
	line-height: 1;
}


.left_menu li:first-child {
	font-size: calc(1.5*var(--ue));
	height: calc(4*var(--ue));
	line-height: calc(4*var(--ue));
	font-weight: bold;
	border-radius: 20px 20px 0 0;
	-webkit-text-stroke: 1px black;
	/*background: #ddd;*/
}


.left_menu li:last-child {
	border-radius: 0 0 20px 20px;
}


.left_menu li div {
	display: table-cell;
	vertical-align: middle;
	height: calc(3*var(--ue));
/*	border: medium red solid;*/
}


.left_menu li>a {						/*не вставляем текст в ссылку, а ссылкой покрываем всю ячейку сверху над текстом, иначе не получается сделать полностью ячейку ссылкой*/
	position: absolute;
	display: block;
	margin-top:0;
	margin-left:-100%;
	width:100%;
	height: calc(3*var(--ue));
}


/*************************item***********************/

.item {
	margin-left: calc(2*var(--ue));
	margin-right: calc(2*var(--ue));
	display: none;
	z-index: 3;
}


.item:target {
	display: block;
}

.item:before {
	content: "";
	display: block;
	height: calc(13.5*var(--ue));
	margin-top: calc(-13.5*var(--ue));
	visibility: hidden;	
}


/*************************разное***********************/

h2 {
	margin: calc(var(--ue)) auto;
	text-align: center;
	font-size: calc(1.2*var(--ue));
	height: calc(3*var(--ue));
	line-height: calc(3*var(--ue));
}


/*li a {
	color: black;
	text-decoration: none;
	border: thin lime solid;
}*/


h3 {
	text-align: center;
	margin: calc(var(--ue)) auto;
	font-size: 1.5em;
	height: 3em;
	line-height: 3em;
}


p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	line-height: 1.5;
	padding-bottom: calc(1.5*var(--ue));
}

/****************для видео (мультфильмов)****************/

iframe, object {
	width: 100%; /*100% от item, в котором он лежит*/
	box-shadow: 0px 0px 10px 1px silver;
}

iframe {
	height: calc(24*var(--ue));	
}

object {
	height: calc(26.2*var(--ue));	
}


@media (max-width: 1200px) { 

	.left_menu {
		display: flex;
		justify-content: space-between;
		width: calc(12.3*var(--ue));	
		margin:calc(13.5*var(--ue)) 0 0 0;
		box-shadow: none;
	}	
	.left_menu>li {
		border-radius: 20px;
		margin-right: calc(0.1*var(--ue));
		background-color: white;
	}
	.left_menu>li:first-child {border-radius: 10px; height: calc(3*var(--ue)); line-height: calc(3*var(--ue));}
	.left_menu>li:last-child {border-radius: 20px; margin-right: 0;}
	h3 {margin-top: calc(3*var(--ue)); }
}
   
@media (max-width: 800px) {	
	* {--ue: 1.8vw;}
	.card {  width: 94%; margin-bottom: 13%;}
	.card__front {padding-top: 10%; padding-bottom:5%; height: 85%;}
	.card__back {padding-top: 17%; padding-bottom:7%; height: 55%;}
	
} 

