.bigpic {
	width: 0;
	height: 0;
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
    /* Поверх всех остальных элементов */
	z-index: 9999;
	text-align: center;
	/* Полупрозрачный серый фон */
	background: rgba(0,0,0,0.7);
}
 
.bigpic img  {
	/* изначально полностью прозрачная картинка */
	opacity: 0;
	padding: 10px;
	background: #ffffff;
	margin-top: 10px;
	/* тени */
	-webkit-box-shadow: 0px 0px 15px #444;
	-moz-box-shadow: 0px 0px 15px #444;
	box-shadow: 0px 0px 15px #444;
	/* свойство прозрачности изменяется не сразу а за четверть секунды */   
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;    
}
 
.bigpic:target {
	width: auto;
	height: auto;
	bottom: 0;
	right: 0;
}
 
.bigpic:target img {
   opacity: 1;
}
